:root {
    --nav-color: #633bf3;
    --font: #9227f9;
    --bg: #f0f0f0;
    --white: #fff;
    --gradient: linear-gradient(#9227f9, #633bf3);
    --gradient-hover: linear-gradient(#633bf3, #9227f9);
}

body {
    font-family: Tahoma;
    overflow-x: hidden;
}
section {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0px;

    .head {
        padding: 20px 0px;
        border-bottom: 2px solid var(--font);
        flex-wrap: wrap-reverse;
        .select-div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            select {
                
                height: 30px;
                border: var(--nav-color) 2px solid;
                color: var(--font);
                padding-left: 10px;
            }

            label {
                font-size: 20px;
                color: var(--bg);
                font-weight: 500;
            }
        }

        .search-div {

            input,
            button {
                height: 30px;
                border: var(--nav-color) 2px solid;
                color: black;
                outline: none;
                padding-left: 10px;
            }

            button {
                color: white;
                border-radius: 5px;
                background: var(--gradient);
            }
        }
    }
    .courses{
        .title{
            h2{
                color: var(--font);
                margin: 50px 0px;
            }
        }    
    }
}
.course-item {
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border: 2px solid var(--nav-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--font);
    img{
        height: 100px;
        width: 100px;
        margin: auto;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    h4,p{
        margin: auto;
        margin-bottom: 10px;
    }
    a{
        background: var(--gradient);
        color: var(--white);
        margin-top: 10px;
    }
}
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    z-index: 100;
    background-color: var(--bg);
    border: 2px solid var(--nav-color);
    display: none;
    h4{
        border-bottom: 1px solid var(--nav-color);
        padding-bottom: 10px;
    }
    .content-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        ul{
            list-style:circle;
        }
    }
    h3{
        display: flex;
        // justify-content: center;
        align-items: flex-end;
        padding: 20px 0px 0px;
        font-size: 20px;
        border-top: 1px solid var(--nav-color);
        img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0px 5px 0px 10px;
        }
        span{
            font-size: 15px;
            font-weight: normal;
        }
    }
    a {
        background: var(--gradient);
        color: var(--white);
        margin-top: 10px;
        width: 200px;
        margin: auto;
        position: absolute;
        left: 50%;
        z-index: 10;
        transform: translate(-50%);
        bottom: 40px;
    }
    a:hover{
        transition: .3s;
        background: var(--bg);
        color: var(--font);
        border: 2px solid var(--nav-color);
    }
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: var(--font);
        z-index: 10;
        cursor: pointer;
    }
}
.layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.158);
    display: none;
}