* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-color: #633bf3;
  --font: #9227f9;
  --bg: #f0f0f0;
  --white: #fff;
  --gradient: linear-gradient(#9227f9, #633bf3);
  --gradient-hover: linear-gradient(#633bf3, #9227f9);
}

body {
  font-family: Tahoma;
  overflow-x: hidden;
}

.landing {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .text-area {
  text-align: center;
}
.landing .text-area h3,
.landing .text-area h4 {
  font-weight: 500;
  color: grey;
}
.landing .text-area h4 {
  font-size: 15px;
  margin-bottom: 20px;
}
.landing .text-area h1 {
  color: var(--font);
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 5px;
}
.landing .text-area a {
  padding: 10px 20px;
  background: var(--gradient);
  color: var(--white);
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 0px;
  border: transparent 2px solid;
}
.landing .text-area a:hover {
  background: transparent;
  color: var(--font);
  border: var(--nav-color) 2px solid;
  transition: 0.5s ease;
}
@media (max-width: 400px) {
  .landing .text-area {
    text-align: center;
  }
  .landing .text-area h1 {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .landing .text-area h1 {
    font-size: 40px;
  }
}

.about {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0px;
  position: relative;
}
.about .title h2 {
  font-size: 50px;
  color: rgba(147, 39, 249, 0.5607843137);
  font-weight: 700;
}
.about .about-text {
  text-align: start;
  margin-top: 100px;
}
.about .about-text span {
  color: var(--nav-color);
}
.about .about-text a {
  padding: 10px 20px;
  background: var(--gradient);
  color: var(--white);
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 0px;
  display: inline-block;
  margin-top: 20px;
  border: 2px solid transparent;
}
.about .about-text a:hover {
  background: transparent;
  color: var(--font);
  border: var(--nav-color) 2px solid;
}

.categories {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.categories .title {
  margin-bottom: 100px;
}
.categories .cat-item {
  width: 250px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.categories .cat-item img {
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.categories .cat-item h2 {
  color: var(--font);
  text-transform: capitalize;
  font-weight: 500;
}
.categories .cat-item p {
  text-align: center;
}
.categories .cat-item a {
  padding: 10px 20px;
  background: var(--gradient);
  color: var(--white);
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 0px;
  display: inline-block;
  margin-top: 20px;
  border: 2px solid transparent;
}
.categories .cat-item a:hover {
  background: transparent;
  color: var(--font);
  border: var(--nav-color) 2px solid;
}/*# sourceMappingURL=style.css.map */