*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../pics/paul-volkmer-fX-qWsXl5x8-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}
nav{
    // background-color: #060807; 
    .navbar-brand{
        img{
            width: 200px;
        }
    }
    .nav-link{
        color: white !important;
        font-size: 18px !important;
    }
    .navbar-toggler{
        i{
            color: white;
        }
    }
}
section{
    width: 100%;
    min-height: 100vh;
}
.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 150px 0px 50px;
    .text-area{
        text-align: center;
        h1{
            color: rgb(255, 255, 255);
            font-size: 80px;
        }
        h4{
            color: gray;
            font-size: 30px;
        }
        button{
            padding: 15px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 800;
            background: linear-gradient(to bottom, #000099 0%, #003366 100%);            border: none;
            border-radius: 5px;

        }
    }
    .img-area{
        img{
            height: 500px;
        }
    }
}
.about{
    position: relative;
    padding-top: 50px;
    .text-area{
        margin-top: 100px;
        h4 {
                max-width: 400px;
                line-height: 50px;
                text-align: center;
            }
    }
}
.secTitle{
    position: absolute;
    padding-bottom: 10px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    h1{
        color: white;
    }
}
.secTitle::after{
    position: absolute;
    content: "";
    bottom: 4px;
    width: 200%;
    background-color: aqua;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
}
.secTitle::before{
    position: absolute;
    content: "";
    bottom: 0;
    width: 50%;
    background-color: aqua;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.categories{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}